<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moje.jobclient.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- <uses-permission android:name="android.permission.SET_DEBUG_APP"></uses-permission> -->
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--
         The following two permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SearchActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
e
        <activity
            android:name=".JobActivity"
            android:label="@string/title_activity_job"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".JobListActivity"
            android:label="@string/title_activity_job_list"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".LocationActivity"
            android:label="@string/title_activity_location" >
        </activity>
        <activity
            android:name=".SkillTrendActivity"
            android:label="@string/title_activity_skill_trend" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyArLIVUp0wTDt5Uytmum_kI_BK2W_F0GB4" />
        <!-- android:name="com.google.android.gms.version" -->

        <activity
            android:name=".DataPercentagesActivity"
            android:label="@string/title_activity_data_percentages"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".MonthlySkillActivity"
            android:label="@string/title_activity_monthly_skill"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".DataPercentagesDiagramActivity"
            android:label="@string/title_activity_data_percentages_diagram"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".MonthlySkillDiagramActivity"
            android:label="@string/title_activity_monthly_skill_diagram"
            android:screenOrientation="landscape" >
        </activity>
    </application>

</manifest>
